body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* Updated to column layout */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    text-align: center;
    margin-bottom: 20px; /* Added margin at the bottom */
}

#question {
    margin-bottom: 10px; /* Added margin at the bottom of the question */
}

#cat-container {
    position: relative;
    margin-bottom: 20px; /* Added margin at the bottom */
}

#cat {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto; /* Center the "Please" cat GIF */
}

#buttons-volume-container {
    display: flex;
    flex-direction: column; /* Updated to column layout */
    align-items: center;
    justify-content: center; /* Centered vertically */
}

#buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Added margin at the bottom */
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 20px; /* Added rounded edges */
}

#yesBtn {
    background-color: green;
    color: white;
}

#noBtn {
    background-color: red;
    color: white;
}

#playMusicBtn {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: block; /* Initially set to block */
}

#volumeControl {
    margin-top: 10px; /* Added margin at the top */
}
