body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#question {
    margin-bottom: 10px;
}

.framed-photos {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.framed-photos img {
    width: 100px;
    height: 100px;
    border: 5px solid white;
    border-radius: 10px;
}

#cat-container {
    position: relative;
    margin-bottom: 20px;
}

#cat {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#buttons-volume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

#yesBtn {
    background-color: green;
    color: white;
}

#noBtn {
    background-color: red;
    color: white;
}

#playMusicBtn {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: block;
}

#volumeControl {
    margin-top: 10px;
}

.side-left {
    margin-right: auto;
}

.side-right {
    margin-left: auto;
}

.bottom {
    margin-top: auto;
}

.bottom img {
    transform: rotate(180deg);
}
